<?xml version="1.0" encoding="UTF-8"?>
<persistence
        version="2.0"
        xmlns="http://java.sun.com/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
            http://java.sun.com/xml/ns/persistence
            http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">


    <persistence-unit name="User">
        <!--<class>org.springframework.data.jpa.example.repository.simple.User</class>-->
        <jta-data-source></jta-data-source>
        <non-jta-data-source>scmsDS</non-jta-data-source>
        <class>gov.gwssi.csc.scms.domain.User</class>
        <properties>
            <property name="hibernate.dialect"
                      value="org.hibernate.dialect.Oracle10gDialect" />
            <property name="hibernate.connection.url"
                      value="jdbc:oracle:thin:@172.30.11.132:1521:v9dxfs1" />
            <property name="hibernate.connection.driver_class"
                      value="oracle.jdbc.driver.OracleDriver" />
            <property name="hibernate.connection.username"
                      value="lhlxs" />
            <property name="hibernate.connection.password"
                      value="lhlxs" />
        </properties>
    </persistence-unit>

</persistence>
